name: React Project Artifact
on:
  # schedule:
  #   - cron: "*/5 * * * *" # execute after every 5 minutes

  workflow_dispatch: # execute your job manually from Github
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Node Js Environment
      uses: actions/setup-node@v6

    - name: Install Dependencies
      run: npm install

    # - name: Run tests
    #   run: npm test

    - name: Build React App
      run: npm run build

    # Upload Build Artifacts
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: react-build
        path: dist
